{% extends 'base.html' %}
{% block left %}
{% if isShop == 1 %}
<a href="{{url_for('page_new_char')}}" class="item">
  <i class="fas fa-plus"></i>&nbsp; Neu
</a>
{% endif %}
{% endblock %}
{% block content %}
<div id="example_wrapper" class="dataTables_wrapper dt-semanticUI no-footer">
  <!--
  <form class="ui form" action="{{url_for('page_new_char')}}" method="post">
    <input type="submit" value="Neuer Eintrag" class="ui primary button right floated">
  </form>
  -->
  <form class="ui form">
    <div class="field">
      <br>
      <input type="text" id="searchTable" onkeyup="searchNames()" placeholder="Nach Namen suchen...">
    </div>
  </form>
  <br>
  <div class="ui stackable grid">
    <div class="row dt-table">
      <div class="sixteen wide column">
        <table id="charTable" class="ui celled table dataTable no-footer" style="width:100%" role="grid">
          <thead>
            <tr role="row">
              <th class="sorting_desc" tabindex="0"  rowspan="1" colspan="1"
                style="width: 446px;">
                Vollständiger Name
              </th>
              <th class="sorting" tabindex="0" rowspan="1" colspan="1"
                style="width: 165px;">
                Geburtsdatum
              </th>
              <th class="sorting" tabindex="0" rowspan="1" colspan="1"
                style="width: 104px;">
                A
              </th>
              <th class="sorting" tabindex="0" rowspan="1" colspan="1"
                style="width: 104px;">
                B
              </th>
              <th class="sorting" tabindex="0" rowspan="1" colspan="1"
                style="width: 82px;">
                Editieren
              </th>
            </tr>
          </thead>
          <tbody>
            {% for row in rows %}
            <tr role="row" class="odd">
              <td>
                {{ row[1] }} {{ row[2] }}
              </td>
              <td>
                {{ row[3] }}
              </td>
              <td>
                {% if row[5] == 0 %}
                  nicht erworben
                {% elif row[5] == 1 %}
                  Entzogen
                {% elif row[5] == 2 %}
                  Sperre
                {% elif row[5] == 3 %}
                  Beantragt
                {% elif row[5] == 4 %}
                  Aktiv
                {% else %}
                  nicht erworben
                {% endif %}
              </td>
              <td>
                {% if row[6] == 0 %}
                  nicht erworben
                {% elif row[6] == 1 %}
                  Entzogen
                {% elif row[6] == 2 %}
                  Sperre
                {% elif row[6] == 3 %}
                  Beantragt
                {% elif row[6] == 4 %}
                  Aktiv
                {% else %}
                  nicht erworben
                {% endif %}
              </td>
              <td style="text-align: center;">
                <form class="ui form" action="{{url_for('page_edit_char', charId = row[0])}}" method="post">
                  <input type="submit" value="Editieren" class="ui primary button">
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>

        </table>
      </div>
    </div>
  </div>
</div>

<script>
  function searchNames() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("searchTable");
    filter = input.value.toUpperCase();
    table = document.getElementById("charTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
</script>
{% endblock %}